* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
}

.result-panel {
	display: flex;
	align-items: center;
	height: 25px;

	padding: 5px;
	border: 1px solid black;
}
.grid td {
	border: 1px solid black;
	height: 60px;
	width: 60px;
	text-align: center;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding-top: 50px;
}
.wrapper > div:first-child {
	display: flex;
	flex-direction: column;
	align-items: center;
}
